bin/Debug/net6.0/design-patterns.dll
obj/project.nuget.cache
obj/project.assets.json
obj/design-patterns.csproj.nuget.g.targets
obj/design-patterns.csproj.nuget.g.props
obj/design-patterns.csproj.nuget.dgspec.json
bin/Debug/net6.0/design-patterns.runtimeconfig.json
bin/Debug/net6.0/design-patterns.pdb
bin/Debug/net6.0/design-patterns.deps.json
bin/Debug/net6.0/design-patterns
obj/Debug/net6.0/apphost
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/design-patterns.AssemblyInfo.cs
obj/Debug/net6.0/design-patterns.AssemblyInfoInputs.cache
obj/Debug/net6.0/design-patterns.assets.cache
obj/Debug/net6.0/design-patterns.csproj.AssemblyReference.cache
obj/Debug/net6.0/design-patterns.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/design-patterns.csproj.FileListAbsolute.txt
obj/Debug/net6.0/design-patterns.dll
obj/Debug/net6.0/design-patterns.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/design-patterns.genruntimeconfig.cache
obj/Debug/net6.0/design-patterns.GlobalUsings.g.cs
obj/Debug/net6.0/design-patterns.pdb
obj/Debug/net6.0/ref/design-patterns.dll
obj/Debug/net6.0/refint/design-patterns.dll
